body {
    background-color: #f16b55;
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
    overflow-x: hidden;
}

h1 {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 150px;
    color: #201a58;
    transition: 0.5s;
    margin-bottom: 20px;
}

.button {
    background-color: #201a58;
    border: none;
    border-radius: 30px;
    color: #40ffb6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition: 0.5s;
}

.button:hover {
    background-color: #40ffb6;
    color: #201a58;
}

h1:hover {
    color: #40ffb6;
    text-shadow: 0 0 10px #40ffb6;
}

h1:active {
    color: #f16b55;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
