body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #000000;
    background: linear-gradient(135deg, rgb(209, 246, 213) 0%, rgba(141, 242, 83, 0.47) 90%);
}

h1 {
    font-size: 120px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 25px;
    justify-content: center;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.background {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: inherit;
    z-index: -1;
}

.glass {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.27);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.82);
    padding: 10px 10px;
    margin: 5px auto;
    max-width: 700px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer {
    margin-top: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 50px;
}

.footer a {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.content {
    flex: none;
}

.noselect {
    user-select: none;
}

.carousel {
    background: rgba(255, 255, 255, 0.27);
    border: 1px solid rgba(255, 255, 255, 0.82);
    margin: 40px auto;
    width: 300px;
    height: 120px;
    border-radius: 20px;
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.cta-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.cta-button {
    background: rgba(55, 231, 82, 0.35);
    border: 1px solid rgba(55, 231, 82, 0.43);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #000000;
    padding: 15px 30px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background: rgba(255, 255, 255, 0.27);
    border: 1px solid rgba(255, 255, 255, 0.82);
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 7s infinite linear;
    padding-right: 1em;
}

.card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from  {translate: 0;}
    to {translate: -100%;}
}