body {
    background-color: #f16b55;
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
    overflow-x: hidden;
}

h1 {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
    color: #201a58;
    transition: 0.5s;
    margin-bottom: 20px;
}

h1:hover {
    color: #40ffb6;
    text-shadow: 0 0 10px #40ffb6;
}

h1:active {
    color: #f16b55;
}



/*
.carousel {
    margin: 100px auto;
    width: 700px;
    border-top: 5px solid #201a58;
    border-bottom: 5px solid #201a58;
    border-left: 5px solid #201a58;
    border-right: 5px solid #201a58;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    user-select: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-right: 1em;
    flex-shrink: 0;
    animation: spin 12s linear infinite;
}

.card {
    width: 5em;
    height: 5em;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}
*/
